<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
	<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" name="movieSearch" placeholder="Search movies or shows" [(ngModel)]="searchTerm">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="button" (click)="onSearchMovies(searchTerm)" (keyup.enter)="onSearchMovies(searchTerm)">Search</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- MOVIE Components -->
<div class="container search-results" *ngIf="movieResults">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let movie of movieResults">
      <app-movie *ngIf="movie.poster_path" [movie]="movie"></app-movie>
    </div>
  </div>
</div>
